header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  background-color: var(--whiteColor);
  transition: 0.3s ease;
  z-index: 30;
}

.headerScroll {
  padding-top: 0 !important;
  background-color: red;
  transition: 0.3s ease;
}

.headerMain {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLeft, .headerRight {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.navOpenBtn {
  margin-left: 100px;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.coursesText {
  font-weight: 700;
}

.navOpenBtn img {
  margin-right: 15px;
}

.logo img {
  width: 181px;
}

.headerRight {
  justify-content: space-between;
}

.instructions {
  margin-left: 100px;
}

.rightLink {
  text-decoration: none;
  color: var(--grayText);
  transition: 0.3s ease;
}

.rightLink {
  margin-right: 20px;
  padding: 3px 0;
}

.instructions a:hover {
  border-bottom: 3px solid var(--greenColor);
}

.signIn {
  display: flex;
  align-items: center;
}

.navOpenBtn, .signIn {
  cursor: pointer;
}

.signIn img {
  margin-right: 15px;
}